<div class="login-container">
  <div class="logo">
    <%= image_tag "IMG_2039.PNG", alt: "Company Logo" %>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'transparent-input', placeholder: ' ' %>
      <%= f.label :email, "MAIL", class: 'input-label' %>
    </div>

    <div class="field">
      <%= f.text_field :name, autofocus: true, class: 'transparent-input', placeholder: ' ' %>
      <%= f.label :name, "NAME", class: 'input-label' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", class: 'transparent-input', placeholder: ' ' %>
      <%= f.label :password, "PASS", class: 'input-label' %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'transparent-input', placeholder: ' ' %>
      <%= f.label :password_confirmation, "PASS（確認用）", class: 'input-label' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'submit-button' %>
    </div>
  <% end %>
</div>
