<%= form_for @tweet do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.submit "Post" %>
<% end %>
<div id="tweets">
  <%= render @tweets %>
  <%= paginate @tweets %>
</div>
