<div class="twitter-container">
  <div class="tweet-form">
    <%= form_for @tweet do |f| %>
      <%= f.text_area :content, placeholder: "何を考えている？", class: "tweet-textarea" %>
      <%= f.submit "投稿", class: "tweet-submit" %>
    <% end %>
  </div>
  <div id="tweets">
    <%= render @tweets %>
    <%= paginate @tweets %>
  </div>
</div>
